.python_div{
  background-color: #ffc882;  
}
.r_div{
  background-color: #00a5ff;
  color:white;
}
.spss_div{
  background-color: #43a5db;
  color:white;
}
.spss_div,.r_div,.python_div{
  padding:5px;
  border-radius: 10px;
  margin:5px;
}
